@using Phoenix.Web.Models.YuGiOh;
@model CardViewModel;
@{
    ViewData["Title"] = "YuGiOh";
}

<style>
    .card-image-cell img {
        max-width: 200px;
        height: auto;
        display: block;
        margin: auto;
    }
</style>
<div class="grid-container category-index">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Type</th>
                <th>Desc</th>
                <th>Race</th>
                <th>Archetype</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["Cards"] != null)
            {
                var data = ViewData["Cards"] as CardViewModel;
                @if (data.Data != null)
                {
                    @foreach (var card in data.Data)
                    {
                        <tr>
                            <td class="card-img-cell" style="max-width:200px">
                                @if (card.Card_images != null && card.Card_images.Any())
                                {
                                    <img src="@card.Card_images[0].Image_Url_Small" alt="card image"/>
                                }
                            </td>
                            <td>@card.Name</td>
                            <td>@card.Type</td>
                            <td>@card.Desc</td>
                            <td>@card.Race</td>
                            <td>@card.Archetype</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">No Card Data</td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="7">@ViewBag.Error</td>
                </tr>
            }
        </tbody>
    </table>
</div>
