@using Phoenix.Web.Models.Room;
@model RoomViewModel;
@{
    ViewData["Title"] = "Room";
}

<div class="grid-container category-index">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Action</th>
                <th>Room Number</th>
                <th>Floor</th>
                <th>Room type</th>
                <th>Guest Limit</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>

            @if (ViewData["Rooms"] != null)
            {
                var rooms = ViewData["Rooms"] as List<RoomViewModel>; // Assuming Room is your model class
                @foreach (var room in rooms)
                {
                    <tr>
                        <td>
                            <a data-id="@room.Number" class="btn btn-primary">Edit</a>
                            <a data-id="@room.Number" class="btn btn-success">Book this</a>
                            <a data-id="@room.Number" class="btn btn-warning">Delete</a>
                        </td>
                        <td>@room.Number</td>
                        <td>@room.Floor</td>
                        <td>@room.Room_type</td>
                        <td>@room.Guest_Limit</td>
                        <td>@room.Cost.Value.ToString("C")</td>
                    </tr>
                }
            }
            else
            {
                <span>No rooms available</span>
            }
        </tbody>
    </table>
</div>
